/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    margin: 0;
    padding: 0;
    background: url('4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* This keeps the background fixed while scrolling */
    font-family: 'Poppins', sans-serif;
    min-height: 100%; /* Ensures the background covers the entire viewport height */
    background-color: rgba(255, 255, 255, 0.7); /* Adjust the alpha value (0.7 in this example) for transparency */
}

.uk-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

/* Override UIkit's default link color */
.uk-link-muted {
    color: #555 !important;
}

/* Customizations for your login form */
.uk-card {
    width: 440px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.05);
}

.login-header {
    text-align: center;
    margin: 20px 0 40px 0;
    color: #333;
    font-size: 30px;
    font-weight: 600;
}

.uk-input {
    width: calc(100% - 50px);
    height: 60px;
    font-size: 17px;
    padding: 0 25px;
    margin-bottom: 15px;
    border-radius: 30px !important; /* Make input fields rounder */
    border: 2px solid #ddd;
    background-color: #f7f7f7;
    color: #333;
    outline: none;
    transition: .3s;
}

.uk-input[type="text"]::placeholder,
.uk-input[type="password"]::placeholder {
    font-weight: 500;
    color: #777;
}

.uk-input[type="text"]:focus,
.uk-input[type="password"]:focus {
    background-color: #fff;
    border: 2px solid #222;
}

.uk-input[type="text"]:hover,
.uk-input[type="password"]:hover {
    background-color: #f0f0f0;
}

::placeholder {
    font-weight: 500;
    color: #222;
}

.submit-btn {
    width: 100%;
    height: 60px;
    background: #222 !important;
    border: none;
    border-radius: 30px !important; /* Make the submit button rounder */
    cursor: pointer;
    transition: .3s;
    color: #fff;
    font-weight: 600;
    font-size: 17px;
}

.submit-btn:hover {
    background: #000;
    transform: scale(1.05, 1);
}

.forgot {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

section {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
}

#check {
    margin-right: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section a {
    color: #555;
}

.sign-up-link {
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}

.sign-up-link a {
    color: #000;
    font-weight: 600;
}
